[Unit]
Description=TORQUE pbs_server daemon
Requires=trqauthd.service network.target local-fs.target
Wants=syslog.target
After=trqauthd.service network.target local-fs.target syslog.target

[Service]
Type=forking
User=root

# Do not set PIDFile via enviroment PBS_HOME
# better to change to PIDFile=/var/run/%i.pid
# and cleanup all code that relies on the current location of the PIDFile
PIDFile=/var/spool/torque/server_priv/server.lock

# There is also no way to test PBS_SERVERDB as was done in the sysvinit
# because the location can be changed via PBS_HOME enviroment.
# However, if you use the PBS_HOME as defined during compilation,
# you can create a unit /etc/systemd/system/pbs_server.service.d/test_serverdb.conf
# with content
#[Unit]
#ConditionPathExists=/var/spool/torque/server_priv/serverdb

Environment=PBS_HOME=/var/spool/torque
Environment=PBS_ARGS=
EnvironmentFile=-/etc/sysconfig/pbs_server

ExecStart=/usr/local/sbin/pbs_server -d $PBS_HOME $PBS_ARGS
ExecStop=/usr/local/bin/qterm

[Install]
WantedBy=multi-user.target
